################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Employer-And-Employee-Information-Schemas/v15/.suo
